/* ===========================
   BODY & HTML chris bon
=========================== */

* {
  box-sizing: border-box;
}

body {
  background-image: url(./image/nima-motaghian-nejad-HdqBaGh4vUU-unsplash.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* ===========================
   NAVIGATION
=========================== */
.nav-menu {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  top: 0;
  width: 100%;
  height: 90px;
  background-image: url(./image/nima-motaghian-nejad-HdqBaGh4vUU-unsplash.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.466);
  background-blend-mode: darken;
  border-bottom: 1px solid white;
  z-index: 1000;
}

.nav-menu .logo {
  width: 130px;
  height: auto;
  overflow: hidden;
}

.nav-menu .logo img {
  width: 100%;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
  font-weight: bold;
}

/* ===========================
   LINKS GLOBAL
=========================== */
a,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

/* ===========================
   HERO SECTION
=========================== */
.container {
  margin: 150px auto;
  max-width: 1400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_flex {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
  height: 80vh;
}

.hero_info {
  color: white;
}

.hero_avatar img {
  border-radius: 50%;
  width: 240px;
}

.info-joke {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}

/* ===========================
   ABOUT SECTION
=========================== */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(24, 22, 23, 0.63);
  background-blend-mode: darken;
  border-radius: 30px;
  box-shadow: 0px -2px 17px rgb(232 224 224 / 44%);
  scroll-margin-top: 130px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#about .info {
  width: 900px;
  border-radius: 15px;
}

#about .info p {
  line-height: 1.6;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

span.mot {
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(255, 166, 0, 0.541);
  font-size: 22px;
}

/* ===========================
   TRANSITION
=========================== */
.transition {
  text-align: center;
  font-size: 30px;
  color: white;
  margin: 150px auto;
}

.transition i {
  font-size: 50px;
  color: #4a90e2;
  margin: 30px 0;
}

.transition p {
  margin: 10px 0;
  line-height: 1.5;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* ===========================
   SERVICES SECTION
=========================== */
#service {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  border-radius: 50px;
  box-shadow: 0px -2px 17px rgb(232 224 224 / 44%);
  /* background-color: rgba(0, 0, 0, 0.308); */
  color: white;
  scroll-margin-top: 130px;
  background-color: rgba(24, 22, 23, 0.63);
  background-blend-mode: darken;
}

.separer_img_prix {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  /* margin-bottom: 70px; */
  background-color: rgb(20 28 80 / 26%);
  box-shadow: 0px -2px 10px rgb(28 118 178);
  border-radius: 40px;
  width: 95%;
  margin: 40px auto;
}

.img_service {
  width: 35%;
  text-align: center;
  border-radius: 40px;
  box-shadow: 6px 6px 10px rgba(17, 17, 17, 0.966);
  background-color: rgba(56, 55, 55, 0.64);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card1 {
  background-image: url(./image/boicu-andrei-YtDIYzUAG9Q-unsplash.jpg);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.card2 {
  background-image: url(./image/lee-campbell-DtDlVpy-vvQ-unsplash.jpg);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.card3 {
  background-image: url(./image/fujiphilm-1gPvlIaV7LU-unsplash.jpg);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.img_service h3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.img_service p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.prix_services {
  width: 60%;
  box-shadow: 0px -2px 5px rgb(232 224 224 / 44%);
  background-color: #103e6b46;
  text-align: start;
  border-radius: 50px;
}

.choix {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.choix button {
  padding: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  background-color: rgb(106, 21, 185);
  color: white;
  font-size: 18px;
  box-shadow: 1px 1px 9px white;
}

.choix button:hover {
  background-color: rgba(106, 21, 185, 0.425);
}

.prix_services h3 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.prix_services p {
  font-size: 22px;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  color: rgb(194, 146, 16);
}

.separer_inclu_option {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.separer_inclu_option h4 {
  text-align: center;
  color: rgb(238, 238, 240);
  font-size: 25px;
  box-shadow: 1px 1px 9px white;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
}

.separer_inclu_option ul {
  font-size: 18px;
  list-style: circle;
}

.separer_inclu_option li {
  margin-bottom: 20px;
}

/* ===========================
   CONTACT SECTION
=========================== */
.contact {
  border-radius: 50px;
  background-color: rgba(24, 22, 23, 0.63);
  background-blend-mode: darken;
  box-shadow: 0px -2px 17px rgb(232 224 224 / 44%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  scroll-margin-top: 130px;
  padding-bottom: 30px;
  margin-bottom: 200px;
}

.separer_mess_moi {
  display: flex;
  justify-content: space-around;
}

.message {
  width: 50%;
  margin-left: 30px;
  box-shadow: 2px 2px 6px rgb(255, 255, 255);
  border-radius: 25px;
}

.message h5 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 30px;
}

.information_lient label {
  font-size: 20px;
  opacity: 0.8;
  margin-top: 30px;
}

.information_lient input {
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  box-shadow: 6px 6px 6px rgb(8, 8, 8);
  background-color: #d0d3d6;
  color: rgb(0, 0, 0);
}

.information_lient {
  display: flex;
  flex-direction: column;
}

.services-options h5 {
  margin-bottom: 30px;
}

.services-options label {
  font-size: 18px;
}

.information_lient input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 1px 0 2px rgba(53, 52, 52, 0.6);
}

#intro-contact {
  background-color: #0000007c;
  border-radius: 20px;
  font-size: 18px;
  box-shadow: 2px 2px 5px rgb(255, 255, 255);
  width: 90%;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 30px;
  padding: 20px;
}
#intro-contact a {
  display: none;
}
.intro-contact {
  text-align: center;
  font-size: 13px;
  opacity: 0.75;
  margin-bottom: 30px;
}

#info_moi {
  text-align: center;
  font-size: 20px;
  list-style: none;
}

.moi_info {
  margin-top: 80px;
}
textarea {
  margin-top: 30px;
  resize: none;
  max-width: 700px;
  min-height: 120px;
  padding: 15px;
  border: none;
  background-color: #d0d3d6;
  box-shadow: 6px 6px 6px rgb(8, 8, 8);
}

form button {
  width: 50%;
  margin: 30px auto;
  border: none;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(34, 29, 104);
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 2px 2px 8px white;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

form button:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
}

.discret {
  font-size: 13px;
  opacity: 0.6;
  margin-top: 10px;
}

.moi {
  width: 40%;
  margin: 0px auto;
  border-radius: 25px;
  box-shadow: 2px 2px 6px rgb(255, 255, 255);
}

.moi h5 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.moi_info ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.moi_info li {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

.moi_info i {
  margin-bottom: 10px;
  font-size: 20px;
}

.reseau {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.reseau i {
  font-size: 30px;
}

.fa-instagram {
  color: rgb(199, 9, 66);
}
.fa-snapchat {
  color: yellow;
}
.fa-whatsapp {
  color: green;
}

.reseau div {
  text-align: center;
  padding: 20px;
}

.reseau div p {
  margin: 0;
}

.pres {
  margin: 50px;
}
.pres p {
  text-align: center;
  font-size: 22px;
  color: #ffffff;
  line-height: 1.8;
}

/* ===========================
   FOOTER
=========================== */
.footer {
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  padding: 10px;
  margin-top: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-contact {
  text-align: center;
}

.footer-contact a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.footer-contact li {
  list-style: none;
  margin-bottom: 10px;
}

.footer h5 {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
}

.footer-links a {
  margin: 20px;
  text-align: center;
}

/* 





@MEDIA POUR TELEPHONE





*/

/* MOBILE - jusqu'à 767px */
@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
  .container {
    width: 100%;
    margin: 50px auto;
    padding: 0px 15px;
  }
  .hero_flex {
    flex-direction: column;
    align-items: center;
  }

  .hero_info h1 {
    font-size: 24px;
    text-align: center;
  }
  .pres {
    width: 90%;
    margin: 0 auto;
  }
  .pres p {
    font-size: 19px;
    margin: 20px auto;
  }
  .hero_avatar img {
    width: 120px;
  }
  #about {
    width: 100%;
    margin: 0px auto;
    padding: 20px;
  }
  #about .info {
    width: 100%;
    text-align: center;
  }
  #about .info p {
    font-size: 14px; /* réduire un peu le texte pour mobile */
    line-height: 1.4;
    width: 100%;
  }

  h2 {
    font-size: 30px; /* titre plus petit pour mobile */
  }

  span.mot {
    font-size: 18px;
  }
  .transition {
    width: 90%;
  }
  .transition p {
    width: 100%;
    font-size: 17px;
  }
  .separer_img_prix {
    display: flex;
    flex-direction: column; /* une colonne au lieu de ligne */
    gap: 20px; /* espace entre les cartes et prix */
    padding: 15px;
  }
  .separer_img_prix ul {
    font-size: 13px;
  }
  .img_service,
  .prix_services {
    width: 100%;
    aspect-ratio: 16/9;
  }
  .img_service {
    max-height: 200px; /* limite la hauteur */
    height: auto; /* garde les proportions */
    background-size: cover;
    background-position: center;
  }
  .img_service {
    background-color: rgba(0, 0, 0, 0.671);
    background-blend-mode: darken;
  }

  .img_service h3 {
    font-size: 22px;
  }
  .img_service p {
    font-size: 15px;
  }
  .separer_inclu_option {
    flex-direction: column;
  }
  .tout h3 {
    font-size: 20px;
  }
  .tout p {
    font-size: 15px;
  }
  .inclu h4,
  .option h4 {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    box-shadow: 1px 1px 9px white;
  }
  form {
    padding: 10px;
  }
  .contact {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  #intro-contact {
    width: 90%;
    margin: 20px auto;
    font-size: 14px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.8;
  }
  #intro-contact a {
    display: flex;
    color: rgb(99 154 237);
    justify-content: center;
  }
  .separer_mess_moi {
    flex-direction: column;
  }
  .message {
    width: 100%;
    margin: 0 auto;
  }
  .services-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .information_lient input {
    width: 90%;
  }
  .message {
    width: 90%;
  }
  .moi {
    width: 90%;
    scroll-margin-top: 120px;
    margin-bottom: 30px;
  }
  .moi_info li {
    font-size: 18px;
  }
  .footer {
    width: 100%;
  }
  .footer-top h5 {
    font-size: 16px;
  }

  .footer-contact a {
    font-size: 14px;
  }
  .footer-bottom p {
    font-size: 12px;
  }

  .ft {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
  }
}

/* TABLETTE - 768px à 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* NAVIGATION */
  .nav-menu {
    display: flex; /* afficher le menu horizontal */
    justify-content: center;
    gap: 30px;
  }

  .container {
    width: 95%;
    margin: 50px auto;
    padding: 0 20px;
  }

  /* HERO */
  .hero_flex {
    flex-direction: row; /* ligne au lieu de colonne */
    align-items: center;
    justify-content: space-between;
  }

  .hero_info h1 {
    font-size: 28px; /* plus grand que mobile */
    text-align: center;
  }

  .hero_avatar img {
    width: 150px; /* plus grand que mobile */
  }

  /* SECTION "PRESENTATION" */
  .pres {
    width: 80%;
    margin: 0 auto;
  }
  .pres p {
    font-size: 20px;
    margin: 20px auto;
  }

  /* ABOUT */
  #about {
    width: 85%;
    margin: 0 auto;
    padding: 30px;
  }
  #about .info {
    width: 100%;
    text-align: left;
  }
  #about .info p {
    font-size: 17px;
    line-height: 1.6;
  }

  h2 {
    font-size: 36px;
  }
  span.mot {
    font-size: 20px;
  }

  /* TRANSITION / SECTION TEXTE */
  .transition {
    width: 85%;
  }
  .transition p {
    width: 100%;
    font-size: 20px;
  }

  /* SERVICES */
  .separer_img_prix {
    flex-direction: row; /* 2 colonnes sur tablette */
    gap: 30px;
    padding: 20px;
  }
  .separer_inclu_option li {
    font-size: 14px;
  }
  .prix_services {
    width: 60%; /* 2 colonnes */
  }
  .img_service {
    background-color: rgba(0, 0, 0, 0.671);
    background-blend-mode: darken;
  }
  .img_service h3 {
    font-size: 20px;
  }
  .img_service p {
    font-size: 17px;
  }

  .separer_inclu_option {
    flex-direction: row;
    gap: 20px;
  }
  .tout h3 {
    font-size: 22px;
  }
  .tout p {
    font-size: 16px;
  }
  .inclu h4,
  .option h4 {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
  }

  /* FORMULAIRE / CONTACT */
  form {
    padding: 20px;
  }
  .contact {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  #intro-contact {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    padding: 10px 0;
  }
  .separer_mess_moi {
    flex-direction: column;
  }
  .message {
    width: 90%;
    margin: 0 auto;
  }

  /* FOOTER */
  .footer {
    width: 100%;
  }
  .footer-top h5 {
    font-size: 16px;
  }
  .footer-contact a {
    font-size: 14px;
  }
  .footer-bottom p {
    font-size: 12px;
  }
}
